body {
  font-family: 'Hiragino Sans', 'メイリオ', sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  color: #2738F5;
}

p {
  line-height: 1.6;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.hobby-favorite {
  background-color: #FEE7FC;
}

#profile-photo {
  width: 200px;
}